.App {
  text-align: center;
}
.schakelaar{
  background-color: red;
  width: 80px;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
}
.warning{
  background-color: red;
  color: coral;
  height: 50px;
padding-top: 20px ;
}
.sidebar{
  font-size: 30px;
  color: blue;
  width: 320px;
  list-style-type: square;
  list-style-position: inside;
  text-align: start;
}
.temperature{
  width: 500px;
  margin: 50px;
  text-align: start;
}
.span{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(45deg, red, green, blue);
  margin-bottom: 30px;
}
.spanLeft{
  border: 3px dashed orange;
  padding: 30px;
  flex-grow: 1;
}
.spanRight{
  flex-grow: 3;
}
